{% extends "base.html" %}

{% block head_title %}
    <title>403</title>
{% endblock %}

{% block content %}
<div>
    <div><h1>403</h1></div>
    <div>You have no right to do this. The request was rejected.</div>
</div>
{% endblock %}