{% extends "base.html" %}

{% block head_title %}
    <title>404</title>
{% endblock %}

{% block content %}
<div>
    <div><h1>404</h1></div>
    <div>Requested object is not found.</div>
</div>
{% endblock %}