<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>IRONTASK is the best tasktracker ever</title>
	<meta charset="utf-8">
	<meta name="author" content="Artem Glotov">
	<meta name="description" content="IRONTASK is the best tasktracker ever"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div>
        <div class="container">
            <div class="row main">
                <div class="main-login main-center">
                    <div class="panel-heading">
                       <div class="panel-title text-center">
                            <h1 class="title">IRONTASK</h1>
                            <hr />
                        </div>
                    </div>
                    <form class="form-horizontal" method="post" action="{% url 'irontask:login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Username</label>
                            <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
                        </div>

                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                        </div>

                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                        </div>

                        <div class="login-register">
                            <a href="{% url 'irontask:registration' %}">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>