{% extends "base.html" %}

{% block head_title %}
	<title>Boards</title>
{% endblock %}

{% block content %}
<div class="h-100">
    <h3>Boards</h3>

    <div class="card-deck">
        {% for board in boards %}
            {% include "components/board_component.html" with board=board %}
        {% empty %}
        <div>You have not any boards</div>
        {% endfor %}
    </div>
</div>
{% endblock %}