{% extends 'base.html' %}

{% block head_title %}
    <title>Board's details</title>
{% endblock %}

{% block content %}
<div class="row" style="height:100vh;">
    <div class="col-md-7 h-100">
        <h1><span class="badge badge-{% if board.status == 1 %}primary{% else %}danger{% endif %}">{{board.board_id}} Board</span>
            <button onclick="location.href='{% url 'irontask:update_board' board.board_id%}'"
               class="btn btn-outline-secondary">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button onclick="$('#remove_accept').modal('show');"
               class="btn btn-outline-secondary">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </h1>
        <h1>{{board.title}}</h1>
        {% if board.description %}
            <p>{{board.description}}</p>
        {% endif %}

        <div class="d-flex flex-row">
            <div class="list-group">
                <div class="card-header list-group-item" style="background-color: rgba(0, 0, 0, 0.03); height:56px;">
                    <span>Creator</span>
                </div>
                <div class="list-group-item d-flex justify-content-between align-items-center" style="height:54px;">
                    <span>{{creator.login}}</span>
                </div>
            </div>
            <div class="list-group">
                <div class="card-header list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(0, 0, 0, 0.03);padding-right:0;">
                    <span>Admins</span>
                    <span class="glyphicon glyphicon-plus btn-light btn" onclick="showUsers('admin');"></span>
                </div>
                <div  id="admin">
                    {% include "components/user_list_component.html" with users=admins is_add=False is_remove=True user_type='admin' is_board=True %}
                </div>
            </div>
            <div class="list-group">
                <div class="card-header list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(0, 0, 0, 0.03);padding-right:0;">
                    <span>Editors</span>
                    <span class="glyphicon glyphicon-plus btn-light btn" onclick="showUsers('editor');"></span>
                </div>
                <div  id="editor">
                    {% include "components/user_list_component.html" with users=editors is_add=False is_remove=True user_type='editor' is_board=True %}
                </div>
            </div>
            <div class="list-group">
                <div class="card-header list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(0, 0, 0, 0.03);padding-right:0;">
                    <span>Readers</span>
                    <span class="glyphicon glyphicon-plus btn-light btn" onclick="showUsers('reader');"></span>
                </div>
                <div  id="reader">
                    {% include "components/user_list_component.html" with users=readers is_add=False is_remove=True user_type='reader' is_board=True %}
                </div>
            </div>
            <div class="list-group">
                <div class="card-header list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(0, 0, 0, 0.03);padding-right:0;">
                    <span>Blocked</span>
                    <span class="glyphicon glyphicon-plus btn-light btn" onclick="showUsers('blocked');"></span>
                </div>
                <div  id="blocked">
                    {% include "components/user_list_component.html" with users=blocked is_add=False is_remove=True user_type='blocked' is_board=True %}
                </div>
            </div>
        </div>

        {% if tasks %}
            <div class="mt-4">
                <h3>Tasks</h3>
                <div class="d-flex flex-row card-deck">
                    {% for task in tasks%}
                        {% include "components/task_component.html" with task=task %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-md-2 h-100 border-left">
       <h3>Messages</h3>
        <div>
            {% for message_view in messages %}
                {% include "components/message_component.html" with message_view=message_view %}
            {% empty %}
            <div>Tasks on the board have not any message</div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3 h-100 border-left">
        <h3>History</h3>
        <div class="card">
            <div class="card-body">
                {% for date_view in dates%}
                    {% include "components/date_component.html" with date=date_view.task_date task=date_view.task %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="success" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>The board with all tasks was successfully removed</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href='{% url 'irontask:home' %}'">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="remove_accept" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this board and all tasks on it?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="removeBoard()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#remove_accept').modal('hide');">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div id="add_board_users" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add board users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="users-container">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#add_board_users').modal('hide');">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    function removeBoard() {
        $.post("{% url 'irontask:remove_board' %}", { 'board_id': {{board.board_id}}, 'csrfmiddlewaretoken': "{{ csrf_token }}", })
         .done(function (data) {
            if(data.success == 'true') {
                $("#remove_accept").modal('hide');
                $("#success").modal('show');
            }
         });
    }

    function showUsers(permission) {
        $.post(
            "{% url 'irontask:get_free_board_users' %}",
            {
                'board_id': {{board.board_id}},
                'permission': permission,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function (data) {
            $('#users-container').html(data);
            $('#add_board_users').modal('show');
        });
    }

    function addUser(user_id, permission) {
        $.post(
            "{% url 'irontask:add_board_user' %}",
            {
                'board_id': {{board.board_id}},
                'add_user_id': user_id,
                'permission': permission,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function (data) {
            if(data.success == 'true') {
                reloadUsers(permission);
                showUsers(permission);
            }
        });
    }

    function reloadUsers(permission) {
        $.post(
            "{% url 'irontask:load_board_users' %}",
            {
                'board_id': {{board.board_id}},
                'permission': permission,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function (data) {
            $('#' + permission).html(data)
        });
    }

    function removeUser(user_id, permission) {
        $.post(
            "{% url 'irontask:remove_board_user' %}",
            {
                'board_id': {{board.board_id}},
                'remove_user_id': user_id,
                'permission': permission,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function (data) {
            if(data.success == 'true') {
                reloadUsers(permission);
            }
        });
    }
</script>
{% endblock %}