{% extends "base.html" %}

{% block head_title %}
    <title>Board's {% if is_creation %}creation{% else %}update{% endif %}</title>
{% endblock %}

{% block content %}
{% load filters %}
<div style="height:100vh;">
    <form id="board_form" action="{% if is_creation %}{% url 'irontask:add_board' %}{% else %}{% url 'irontask:update_board' board_id %}{% endif %}" method="post">
        {% csrf_token %}
        <div class="form-group row" style="align-items:center;">
            <div class="col-sm-2">
                <h1>
                    <span class="badge badge-secondary">
                        {% if board_id %}
                            {{board_id}}
                        {% else %}
                            <span class="glyphicon glyphicon-hourglass"></span>
                        {% endif %}
                        Board
                    </span>
                </h1>
            </div>
            <div class="col-sm-10">
                {{form.title|css:'form-control form-control-lg'}}
                <div>
                    {% for error in form.title.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                {{form.description|css:'form-control'}}
                <div>
                    {% for error in form.description.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
                {{form.board_type|css:'form-control'}}
                <div>
                    {% for error in form.board_type.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if not is_creation %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-10">
                    {{form.status|css:'form-control'}}
                    <div>
                        {% for error in form.status.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <button type="button" onclick="submitForm()" class="btn btn-success d-flex mx-auto">{% if is_creation %}Add{% else %}Update{% endif %}</button>
    </form>
</div>
<script>
    function submitForm() {
        $('#board_form').submit();
    }
</script>
{% endblock %}