<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block head_title %}
    {% endblock %}
	<meta charset="utf-8">
	<meta name="author" content="Artem Glotov">
    <meta name="description" content="IRONTASK is the best tasktracker ever"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
</head>
<body style="background-color: #eeeeee;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'irontask:home' %}">IRONTASK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'irontask:home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'irontask:show_boards' %}">Boards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'irontask:show_tasks' %}">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'irontask:show_plans' %}">Plans</a>
                </li>
            </ul>
            <form id="tag_search" class="form-inline my-2 my-lg-0" action="{% url 'irontask:filter_tasks' %}" method="post">
                {% csrf_token %}
                <input class="form-control mr-sm-2 auto_search" type="text" data-role="tagsinput" placeholder="Search task by tag" id="search_term" name="search_term" aria-label="Search">
                <button class="btn btn-outline-success ml-2" type="button" onclick="submitSearch()">Search</button>
            </form>
            <button class="btn btn-outline-light ml-4" type="button" onclick="location.href='{% url 'irontask:logout' %}'">Logout</button>
        </div>
    </nav>
    <script>
        $(document).ready(function () {
            $('.bootstrap-tagsinput > input').autocomplete({
                minLength: 1,
                delay: 300,
                source: function(request, response) {
                    $.post({
                        url: '{% url 'irontask:get_tags' %}',
                        data: { 'term': request.term, 'csrfmiddlewaretoken': "{{ csrf_token }}" },
                        success: function(data) {
                            response(data);
                        }
                    });
                }
            });
        });
        function submitSearch() {
            $('#tag_search').submit();
        }
    </script>
    <div class="container py-md-3" style="height:100vh; background-color: #ffffff">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>