{% extends "base.html" %}

{% block head_title %}
	<title>IRONTASK is the best tasktracker ever</title>
{% endblock %}

{% block content %}
<div class="row h-100">
    <div class="col-md-3 border-right h-100">
        <div class="d-flex justify-content-between mb-2">
            <h3>Boards</h3>
             <button class="btn btn-outline-success" onclick="location.href='{% url 'irontask:add_board' %}'">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div>
            {% for board in boards %}
                {% include "components/board_component.html" with board=board %}
            {% empty %}
            <div>You have not any boards</div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3 border-right">
        <div class="d-flex justify-content-between mb-2">
            <h3>Tasks</h3>
            <button class="btn btn-outline-success" onclick="location.href='{% url 'irontask:add_task' %}'">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>

        <div>
            {% for task in tasks %}
                {% include "components/task_component.html" with task=task %}
            {% empty %}
            <div>You have not any tasks</div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3 border-right">
        <div class="d-flex justify-content-between mb-2">
            <h3>Plans</h3>
             <button class="btn btn-outline-success" onclick="location.href='{% url 'irontask:add_plan' %}'">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div>
            {% for plan_view in plans %}
                {% include "components/plan_component.html" with plan_view=plan_view %}
            {% empty %}
            <div>You have not any plans</div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <h3>Messages</h3>
        <div>
            {% for message_view in messages %}
                {% include "components/message_component.html" with message_view=message_view %}
            {% empty %}
            <div>You have not any messages</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}