{% extends "base.html" %}

{% block head_title %}
    <title>Plan's details</title>
{% endblock %}

{% block content %}
<div class="row" style="height:100vh;">
    <div class="col-md-6 h-100">
        <h1><span class="badge badge-{% if plan.status == 1 %}primary{% else %}danger{% endif %}">{{plan.plan_id}} Plan</span>
            <button onclick="location.href='{% url 'irontask:update_plan' plan.plan_id%}'"
               class="btn btn-outline-secondary">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button onclick="$('#remove_accept').modal('show');"
               class="btn btn-outline-secondary">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </h1>
        <h1>{{task.title}}</h1>

        {% if tags %}
            <div class="form-group">
                {% for tag in tags %}
                    <span class="badge badge-info">{{tag.text}}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if task.description %}
            <p>{{task.description}}</p>
        {% endif %}

        {% if board %}
            <div onclick="location.href='{% url 'irontask:show_board' board.board_id %}'"
                 style="cursor: pointer">
                <p><span class="glyphicon glyphicon-list-alt"></span> {{board.title}}</p>
            </div>
        {% endif %}

        <div>
            <p>
                <span class="glyphicon glyphicon-repeat"></span>
                <span>Repeat every {{plan.periodicity}}</span>
            </p>
        </div>

        <div>
            <p><span class="glyphicon glyphicon-play"></span> Created: {{plan.date_create.date}}</p>
        </div>

        {% if plan.end_type == 2 and plan.start_date and plan.end_date %}
            <div>
                <p><span class="glyphicon glyphicon-time"></span> {{plan.start_date.date}} - {{plan.end_date.date}}</p>
            </div>
        {% else %}
            <div>
                <p><span class="glyphicon glyphicon-time"></span> Start: {{plan.start_date.date}}</p>
            </div>
        {% endif %}

        {% if plan.end_type == 3 and plan.count_iteration %}
            <div>
                <p><span class="glyphicon glyphicon-refresh"></span> {{plan.current_iteration}}/{{plan.count_iteration}} times</p>
            </div>
        {% endif %}



        {% if date_event %}
           <div>
                <p><span class="glyphicon glyphicon-time"></span> {{date_event.date}}</p>
           </div>
        {% elif date_start and date_end %}
        <div>
            <p><span class="glyphicon glyphicon-time"></span> {{date_start.date}} - {{date_end.date}}</p>
        </div>
        {% endif %}

        <div class="d-flex flex-row">
            {% if creator %}
                <div class="card">
                    <h5 class="card-header">Creator</h5>
                    <div class="card-body">
                        <p class="card-text">{{creator.login}}</p>
                    </div>
                </div>
            {% endif %}

            {% if executors %}
                <div class="card">
                    <h5 class="card-header">Executors</h5>
                    <div class="card-body">
                        {% for executor in executors %}
                            <p class="card-text">{{executor.login}}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if observers %}
                <div class="card">
                    <h5 class="card-header">Observers</h5>
                    <div class="card-body">
                        {% for observer in observers %}
                            <p class="card-text">{{observer.login}}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="success" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>The plan and the template task were successfully removed</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href='{% url 'irontask:home' %}'">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="remove_accept" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this plan and connected task?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="removePlan()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#remove_accept').modal('hide');">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function removePlan() {
        $.post("{% url 'irontask:remove_plan' %}", { 'plan_id': {{plan.plan_id}}, 'csrfmiddlewaretoken': "{{ csrf_token }}", })
         .done(function (data) {
            if(data.success == 'true') {
                $("#remove_accept").modal('hide');
                $("#success").modal('show');
            }
         });
    }
</script>
{% endblock %}