{% extends "base.html" %}

{% block head_title %}
    <title>Plan's {% if is_creation %}creation{% else %}update{% endif %}</title>
{% endblock %}

{% block content %}
{% load filters %}
<div style="height:100vh;">
    <form id="task_form" action="{% if is_creation %}{% url 'irontask:add_plan' %}{% else %}{% url 'irontask:update_plan' plan_id %}{% endif %}" method="post">
        {% csrf_token %}
        <div class="form-group row" style="align-items:center;">
            <div class="col-sm-2">
                <h1>
                    <span class="badge badge-secondary">
                        {% if plan_id %}
                            {{plan_id}}
                        {% else %}
                            <span class="glyphicon glyphicon-hourglass"></span>
                        {% endif %}
                        Plan
                    </span>
                </h1>
            </div>
            {% if is_creation %}
                <div class="col-sm-10">
                    {% for checkbox in form.task_type %}
                        <div class="form-check form-check-inline" onclick="changeTaskType()">
                            {{checkbox}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div id="task-new-block">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    {{form.title|css:'form-control'}}
                    <div>
                    {% for error in form.title.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tags</label>
                <div class="col-sm-10">
                    {{form.tags}}
                    <div>
                    {% for error in form.tags.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    {{form.description|css:'form-control'}}
                    <div>
                    {% for error in form.description.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Priority</label>
                <div class="col-sm-10">
                    {{form.priority|css:'form-control'}}
                    <div>
                    {% for error in form.priority.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Board</label>
                <div class="col-sm-10">
                    {{form.board_title|css:'form-control'}}
                    {{form.board_id.as_hidden}}
                    <div>
                    {% for error in form.board_id.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>

        {% if is_creation %}
            <div id="task-existing-block">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Task</label>
                    <div class="col-sm-10">
                        {{form.task_title|css:'form-control'}}
                        {{form.task_id.as_hidden}}
                        <div>
                            {% for error in form.task_id.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                {{form.status|css:'form-control'}}
                <div>
                    {% for error in form.status.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Repeat</label>
            <div class="col-sm-10">
                {{form.periodicity|css:'form-control'}}
                <div>
                    {% for error in form.periodicity.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Start date</label>
            <div class="col-sm-10">
                {{form.start_date|css:'form-control'}}
                <div>
                    {% for error in form.start_date.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div>
             <div class="form-group row">
                <label class="col-sm-2 col-form-label">End</label>
                <div class="col-sm-10">
                    {% for checkbox in form.end_type %}
                        <div class="form-check form-check-inline" onclick="changeEndType()">
                            {{checkbox}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>



        <div id="some-times-block">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Count repetition</label>
                <div class="col-sm-10">
                    {{form.count_iteration|css:'form-control'}}
                    <div>
                    {% for error in form.count_iteration.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>

        <div id="end-date-block">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">End date</label>
                <div class="col-sm-10">
                    {{form.end_date|css:'form-control'}}
                    <div>
                    {% for error in form.end_date.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>


        <button type="button" onclick="submitForm()" class="btn btn-success d-flex mx-auto">{% if is_creation %}Add{% else %}Update{% endif %}</button>
    </form>
</div>
<script>
    $(document).ready(function() {
        changeTaskType();
        changeEndType();

         $('#id_board_title').autocomplete({
            minLength: 1,
            delay: 300,
            source: function(request, response) {
                $.post({
                    url: '{% url 'irontask:get_boards' %}',
                    data: { 'term': request.term, 'csrfmiddlewaretoken': "{{ csrf_token }}" },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            focus: function(event, ui) {
                $('#id_board_title').val( ui.item.label );
                return false;
            },
            select: function(event, ui) {
                $('#id_board_title').val(ui.item.label)
                $('#id_board_id').val(ui.item.value);
                return false;
            }
        });

        {% if is_creation %}
            $('#id_task_title').autocomplete({
                minLength: 1,
                delay: 300,
                source: function(request, response) {
                    $.post({
                        url: '{% url 'irontask:get_tasks' %}',
                        data: { 'term': request.term, 'csrfmiddlewaretoken': "{{ csrf_token }}" },
                        success: function(data) {
                            response(data);
                        }
                    });
                },
                focus: function(event, ui) {
                    $('#id_task_title').val( ui.item.label );
                    return false;
                },
                select: function(event, ui) {
                    $('#id_task_title').val(ui.item.label)
                    $('#id_task_id').val(ui.item.value);
                    return false;
                }
            });
        {% endif %}

    });

    function submitForm() {
        $('#task_form').submit();
    }

    function changeTaskType() {
        if($('#id_task_type_0:checked').length) {
            $('#task-new-block').css('display', 'none')
            $('#task-existing-block').css('display', 'block')
        }
        if($('#id_task_type_1:checked').length) {
            $('#task-new-block').css('display', 'block')
            $('#task-existing-block').css('display', 'none')
        }
    }

    function changeEndType() {
        if($('#id_end_type_0:checked').length) {
            $('#some-times-block').css('display', 'none')
            $('#end-date-block').css('display', 'none')
        }
        if($('#id_end_type_1:checked').length) {
            $('#some-times-block').css('display', 'none')
            $('#end-date-block').css('display', 'block')
        }
        if($('#id_end_type_2:checked').length) {
            $('#some-times-block').css('display', 'block')
            $('#end-date-block').css('display', 'none')
        }
    }
</script>
{% endblock %}