{% extends "base.html" %}

{% block head_title %}
	<title>Plans</title>
{% endblock %}

{% block content %}
<div class="h-100">
    <h3>Plans</h3>

    <div class="card-deck">
        {% for plan in plans %}
            {% include "components/plan_component.html" with plan_view=plan %}
        {% empty %}
        <div>You have not any plans</div>
        {% endfor %}
    </div>
</div>
{% endblock %}