<div class="card text-white bg-{% if board.status == 1 %}primary{% else %}danger{% endif %} mb-3"
     onclick="location.href='{% url 'irontask:show_board' board.board_id %}'"
     style="cursor:pointer; flex:none; min-width: 200px;">
    <div class="card-header">Board</div>
    <div class="card-body">
        <h5 class="card-title">{{board.title}}</h5>
        <p class="card-text">{{board.description}}</p>
    </div>
</div>