{% if date.date_type == 1 %}
    <p title="Started">
        <span class="glyphicon glyphicon-play"></span> {{task.title}}<br>
        <span>{{date.date}}</span>
    </p>
{% elif date.date_type == 6 %}
    <p title="Edited">
        <span class="glyphicon glyphicon-pencil"></span> {{task.title}}<br>
        <span>{{date.date}}</span>
    </p>
{% elif date.date_type == 5 and task.status == 4 %}
    <p title="Closed">
        <span class="glyphicon glyphicon-ok"></span> {{task.title}}<br>
        <span>{{date.date}}</span>
    </p>
{% elif date.date_type == 5 and task.status == 5 %}
    <p title="Closed">
        <span class="glyphicon glyphicon-remove"></span> {{task.title}}<br>
        <span>{{date.date}}</span>
    </p>
{% endif %}