<div class="card mb-3">
    <blockquote class="blockquote mb-0 card-body">
        <p>{{message_view.message.text}}</p>
        <footer class="blockquote-footer">
            <small class="text-muted">
                {% if message_view.user %}
                    {{message_view.user.login}}{% if not is_task %} in task <cite title="Source Title">{{message_view.task.title}}</cite>{% endif %} ({{message_view.message.date}})
                {% else %}
                    Notification{% if not is_task %} of task <cite title="Source Title">{{message_view.task.title}}</cite>{% endif %} ({{message_view.message.date}})
                {% endif %}
            </small>
        </footer>
    </blockquote>
</div>