<div class="card mb-3 border-{% if plan_view.plan.status == 1 %}primary{% else %}danger{% endif %}"
     onclick="location.href='{% url 'irontask:show_plan' plan_view.plan.plan_id %}'"
     style="cursor:pointer; flex:none; min-width: 200px;">
    <div class="card-header">Planned task</div>
    <div class="card-body text-{% if plan_view.plan.status == 1 %}primary{% else %}danger{% endif %}">
        <h5 class="card-title">{{plan_view.task.title}}</h5>
        <p class="card-text">{{plan_view.task.description}}</p>
        <small class="text-muted">
            Next creation <cite title="Source Title">{{plan_view.plan.start_date}}</cite>
        </small>
    </div>
</div>