<div class="card mb-3 border-{% if task.status == 1 %}primary{% else %}danger{% endif %}"
     onclick="location.href='{% url 'irontask:show_task' task.task_id %}'"
     style="cursor:pointer; flex:none; min-width: 200px;">
    <div class="card-header d-flex justify-content-between align-items-center" style="padding-right:0;">
        <span class="d-flex align-items-center">
            {% if task.priority < 3 %}
                <span class="badge badge-pill badge-success mr-1">    </span>
            {% elif task.priority == 3 %}
                <span class="badge badge-pill badge-warning mr-1">    </span>
            {% else %}
                <span class="badge badge-pill badge-danger mr-1">    </span>
            {% endif %}
            <span>Task</span>
        </span>
        {% if relation %}
            <span class=" d-flex justify-content-between align-items-center">
                {% if relation.relation_type == 1 %}
                    <span class="glyphicon glyphicon-check ml-2" title="It's subtask of current task. When all subtasks will be completed current task will be comleted"></span>
                {% elif relation.relation_type == 2 %}
                    <span class="glyphicon glyphicon-link ml-2" title="This task would be completed if current task will be completed"></span>
                {% else %}
                    <span class="glyphicon glyphicon-lock ml-2" title="This task can't be completed until current task will be completed"></span>
                {% endif %}
                <span class="glyphicon glyphicon-remove btn btn-light" style="margin-right:0;" onclick="removeTaskRelation()"></span>
            </span>
        {% endif %}
    </div>
    <div class="card-body text-{% if task.status == 1 %}primary{% else %}danger{% endif %}">
        <h5 class="card-title">{{task.title}}</h5>
        <p class="card-text">{{task.description}}</p>
    </div>
</div>
<script>
    function removeTaskRelation() {
        $.post(
            "{% url 'irontask:remove_task_relation' %}",
            {
                'relation_id': {{relation.relation_id}},
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function(data) {
            if(data.success == 'true') {
                location.reload();
            }
        });
    }
</script>
