<div class="list-group-item d-flex justify-content-between align-items-center" style="padding-right:0;">
    <span>{{user.login}}</span>
    {% if is_remove %}
        <span class="glyphicon glyphicon-minus btn-light btn" onclick="removeUser({{user.user_id}}, '{{user_type}}')"
          style="background-color:#fff; border:none;"></span>
    {% elif is_add %}
        <span class="glyphicon glyphicon-plus btn-light btn" onclick="addUser({{user.user_id}}, '{{user_type}}')"></span>
    {% endif %}
</div>