{% extends "base.html" %}

{% block head_title %}
    <title>Task's details</title>
{% endblock %}

{% block content %}
<div class="row" style="height:100vh;">
    <div class="col-md-6 h-100">
        <h1><span class="badge badge-{% if task.status == 1 %}primary{% else %}danger{% endif %}">{{task.task_id}} Task</span>
            <button onclick="location.href='{% url 'irontask:update_task' task.task_id %}'"
               class="btn btn-outline-secondary">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button onclick="$('#remove_accept').modal('show');"
               class="btn btn-outline-secondary">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </h1>
        <h1>{{task.title}}</h1>

        {% if tags %}
            <div class="form-group">
                {% for tag in tags %}
                    <span class="badge badge-info">{{tag.text}}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if task.description %}
            <p>{{task.description}}</p>
        {% endif %}

        {% if board %}
            <div onclick="location.href='{% url 'irontask:show_board' board.board_id %}'"
                 style="cursor: pointer">
                <p><span class="glyphicon glyphicon-list-alt"></span> {{board.title}}</p>
            </div>
        {% endif %}

        {% if date_event %}
           <div>
                <p><span class="glyphicon glyphicon-time"></span> {{date_event.date}}</p>
           </div>
        {% elif date_start and date_end %}
        <div>
            <p><span class="glyphicon glyphicon-time"></span> {{date_start.date}} - {{date_end.date}}</p>
        </div>
        {% endif %}

        <div class="d-flex flex-row">
            <div class="list-group">
                <div class="card-header list-group-item" style="background-color: rgba(0, 0, 0, 0.03); height:56px;">
                    <span>Creator</span>
                </div>
                <div class="list-group-item d-flex justify-content-between align-items-center" style="height:54px;">
                    <span>{{creator.login}}</span>
                </div>
            </div>
            {% if task.board_id%}
                <div class="list-group">
                    <div class="card-header list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(0, 0, 0, 0.03);padding-right:0;">
                        <span>Executors</span>
                        <span class="glyphicon glyphicon-plus btn-light btn" onclick="showUsers('executors');"></span>
                    </div>
                    <div  id="executors">
                        {% include "components/user_list_component.html" with users=executors is_add=False is_remove=True user_type='executors'%}
                    </div>
                </div>

                <div class="list-group">
                    <div class="card-header list-group-item d-flex justify-content-between align-items-center" style="background-color: rgba(0, 0, 0, 0.03);padding-right:0;">
                        <span>Observers</span>
                        <span class="glyphicon glyphicon-plus btn-light btn" onclick="showUsers('observers')"></span>
                    </div>
                     <div id="observers">
                        {% include "components/user_list_component.html" with users=observers is_add=False is_remove=True user_type='observers'%}
                    </div>
                </div>


                {% if requester %}
                    <div class="list-group">
                        <div class="card-header list-group-item" style="background-color: rgba(0, 0, 0, 0.03); height:56px;">
                            <span>Requester</span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center" style="height:54px;">
                            <span>{{requester.login}}</span>
                        </div>
                    </div>
                {% endif %}

                {% if finisher %}
                    <div class="list-group">
                        <div class="card-header list-group-item" style="background-color: rgba(0, 0, 0, 0.03); height:56px;">
                            <span>Finisher</span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center" style="height:54px;">
                            <span>{{finisher.login}}</span>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="mt-4">
            <h3>
                <span>Subtasks</span>
                <button type="button" class="btn btn-light ml-2" onclick="showAddChildTask()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </h3>
            <div class="d-flex flex-row">
                {% for subtask in subtasks%}
                    {% include "components/task_component.html" with task=subtask.task relation=subtask.relation %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-3 h-100 border-left">
        <h3>Messages</h3>
        <textarea name="new_message" class="form-control form-group" maxlength="500" id="new_message" cols="40" rows="4"></textarea>
        <div class="d-flex flex-row-reverse form-group">
            <button type="button" class="btn btn-primary" onclick="sendMessage()">Send</button>
        </div>
        <div>
            {% for message_view in messages %}
                {% include "components/message_component.html" with message_view=message_view is_task=True %}
            {% empty %}
                <div>Task has not any message</div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3 h-100 border-left">
        <h3>History</h3>
        <div class="card">
            <div class="card-body">
                <p title="Started"><span class="glyphicon glyphicon-play"></span> {{date_create.date}}</p>
                {% for date_edit in dates_edit %}
                    <p title="Edited"><span class="glyphicon glyphicon-pencil"></span> {{date_edit.date}}</p>
                {% endfor %}
                {% if date_close and task.status == 4 %}
                    <p title="Closed"><span class="glyphicon glyphicon-ok"></span> {{date_close.date}}</p>
                {% elif date_close and task.status == 5 %}
                    <p title="Closed"><span class="glyphicon glyphicon-remove"></span> {{date_close.date}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="success" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>The task was successfully removed</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href='{% url 'irontask:home' %}'">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="remove_accept" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this task?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="removeTask()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#remove_accept').modal('hide');">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="add_executors" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add executors</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="executors-container">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#add_executors').modal('hide');">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="add_observers" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add observers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="observers-container">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#add_observers').modal('hide');">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="add_subtask" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add relation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-toggle form-group" data-toggle="buttons">
                    <label class="btn btn-light active" title="Connect tasks like parent task and subtask. Current task will be parent. When all subtasks will be completed current task will be comleted">
                        <input type="radio" name="relation_type" id="subtask_rel" autocomplete="off" value="1" checked><span class="glyphicon glyphicon-check"></span>
                    </label>
                    <label class="btn btn-light" title="Child task would be completed if current task will be completed">
                        <input type="radio" name="relation_type" id="complete_rel" autocomplete="off" value="2"><span class="glyphicon glyphicon-link"></span>
                    </label>
                    <label class="btn btn-light" title="Child task can't be completed until current task will be completed">
                        <input type="radio" name="relation_type" id="block_rel" autocomplete="off" value="3"><span class="glyphicon glyphicon-lock"></span>
                    </label>
                </div>
                <div class="form-group form-inline">
                    <label for="parent_tasks" class="col-sm-3 col-form-label">Parent task</label>
                    <select id="parent_tasks" class="col-sm-8 form-control"></select>
                </div>
                <div class="form-group form-inline">
                    <label for="child_tasks" class="col-sm-3 col-form-label">Child task</label>
                    <select id="child_tasks" class="col-sm-8 form-control"></select>
                </div>
                <div class="alert alert-danger" id="add_relation_error" role="alert" style="display: none;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="addTaskRelation()">Add</button>
            </div>
        </div>
    </div>
</div>

<script>
    const EXECUTORS = 'executors';
    const OBSERVERS = 'observers';

    function removeTask() {
        $.post("{% url 'irontask:remove_task' %}", { 'task_id': {{task.task_id}}, 'csrfmiddlewaretoken': "{{ csrf_token }}"})
         .done(function (data) {
            if(data.success == 'true') {
                $("#remove_accept").modal('hide');
                $("#success").modal('show');
            }
         });
    }

    function sendMessage() {
        var text = $('#new_message').val()
        if(text) {
            $.post(
                "{% url 'irontask:send_message' %}",
                {
                    'task_id': {{task.task_id}},
                    'text': text,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                }
            ).done(function (data) {
                if(data.success == 'true') {
                    location.reload();
                }
            })
        }
    }

    function showUsers(user_type) {
        $.post(
            "{% url 'irontask:get_free_task_users' %}",
            {
                'task_id': {{task.task_id}},
                'user_type': user_type,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function (data) {
            $('#' + user_type + '-container').html(data);
            $('#add_' + user_type).modal('show');
        });
    }

    function addUser(user_id, user_type) {
        $.post(
            "{% url 'irontask:add_task_user' %}",
            {
                'task_id': {{task.task_id}},
                'add_user_id': user_id,
                'user_type': user_type,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function (data) {
            if(data.success == 'true') {
                reloadUsers(user_type);
                showUsers(user_type);
            }
        });
    }

    function reloadUsers(user_type) {
        $.post(
            "{% url 'irontask:load_task_users' %}",
            {
                'task_id': {{task.task_id}},
                'user_type': user_type,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function (data) {
            $('#' + user_type).html(data)
        });
    }

    function removeUser(user_id, user_type) {
        $.post(
            "{% url 'irontask:remove_task_user' %}",
            {
                'task_id': {{task.task_id}},
                'remove_user_id': user_id,
                'user_type': user_type,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function (data) {
            if(data.success == 'true') {
                reloadUsers(user_type);
            }
        });
    }

    function showAddChildTask() {
        $('#parent_tasks').empty();
        $('#parent_tasks').append($('<option>', {
            value: {{task.task_id}},
            text : '{{task.title}}'
        }));
        $('#parent_tasks').attr('disabled', true);
        getChildTasks(function () {
            $('#add_subtask').modal('show');
        });
    }

    function getChildTasks(callback) {
        $.post(
            "{% url 'irontask:get_child_tasks' %}",
            {
                'task_id': {{task.task_id}},
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function (items) {
            $('#child_tasks').empty();
            $.each(items, function (i, item) {
                $('#child_tasks').append($('<option>', {
                    value: item.value,
                    text : item.text
                }));
            });
            if(callback) {
                callback();
            }
        });
    }

    function addTaskRelation() {
        $.post(
            "{% url 'irontask:add_task_relation' %}",
            {
                'parent_id': {{task.task_id}},
                'child_id': $('#child_tasks').val(),
                'relation_type': $('input[name=relation_type]:checked').val(),
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            }
        ).done(function (data) {
            if(data.success == 'true') {
                $('#add_relation_error').css('display', 'none')
                $('#add_subtask').modal('hide');
                location.reload();
            } else {
                $('#add_relation_error').css('display', 'flex')
                $('#add_relation_error').text(data.error);
            }
        });
    }
</script>
{% endblock %}