{% extends "base.html" %}

{% block head_title %}
    <title>Task's {% if is_creation %}creation{% else %}update{% endif %}</title>
{% endblock %}

{% block content %}
{% load filters %}
<div style="height:100vh;">
    <form id="task_form" action="{% if is_creation %}{% url 'irontask:add_task' %}{% else %}{% url 'irontask:update_task' task_id %}{% endif %}" method="post">
        {% csrf_token %}
        <div class="form-group row" style="align-items:center;">
            <div class="col-sm-2">
                <h1>
                    <span class="badge badge-secondary">
                        {% if task_id %}
                            {{task_id}}
                        {% else %}
                            <span class="glyphicon glyphicon-hourglass"></span>
                        {% endif %}
                        Task
                    </span>
                </h1>
            </div>
            <div class="col-sm-10">
                {{form.title|css:'form-control form-control-lg'}}
                <div>
                    {% for error in form.title.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tags</label>
            <div class="col-sm-10">
                {{form.tags}}
                <div>
                    {% for error in form.tags.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                {{form.description|css:'form-control'}}
                <div>
                    {% for error in form.description.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                {{form.status|css:'form-control'}}
                <div>
                    {% for error in form.status.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Priority</label>
            <div class="col-sm-10">
                {{form.priority|css:'form-control'}}
                <div>
                    {% for error in form.priority.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Board</label>
            <div class="col-sm-10">
                {{form.board_title|css:'form-control'}}
                {{form.board_id.as_hidden}}
                <div>
                    {% for error in form.board_id.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <div>
                    {% for error in form.board_title.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date type:</label>
            {% for checkbox in form.date_type %}
            <div class="form-check form-check-inline" onclick="changeDateType()">
                {{checkbox}}
            </div>
            {% endfor %}
        </div>

        <div class="form-group row" id="start-end-row">
            <label class="col-sm-2 col-form-label">Start</label>
            <div class="col-sm-4">
                {{form.start_date|css:'form-control'}}
                <div>
                    {% for error in form.start_date.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <label class="col-sm-2 col-form-label">End</label>
            <div class="col-sm-4">
                {{form.end_date|css:'form-control'}}
                <div>
                    {% for error in form.end_date.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="form-group row event" id="event-row">
            <label class="col-sm-2 col-form-label">Event</label>
            <div class="col-sm-5">
                {{form.event_date|css:'form-control'}}
                <div>
                    {% for error in form.event_date.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <button type="button" onclick="submitForm()" class="btn btn-success d-flex mx-auto">{% if is_creation %}Add{% else %}Update{% endif %}</button>
    </form>
</div>
<script>
    $(document).ready(function() {
        changeDateType();

        $('#id_board_title').autocomplete({
            minLength: 1,
            delay: 300,
            source: function(request, response) {
                $.post({
                    url: '{% url 'irontask:get_boards' %}',
                    data: { 'term': request.term, 'csrfmiddlewaretoken': "{{ csrf_token }}" },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            focus: function(event, ui) {
                $('#id_board_title').val( ui.item.label );
                return false;
            },
            select: function(event, ui) {
                $('#id_board_title').val(ui.item.label)
                $('#id_board_id').val(ui.item.value);
                return false;
            }
        });
    });

    function submitForm() {
        $('#task_form').submit();
    }

    function changeDateType() {
        if($('#id_date_type_0:checked').length) {
            $('#id_start_date').val('');
            $('#id_end_date').val('');
            $('#id_event_date').val('');
            $('#start-end-row').css('display', 'none')
            $('#event-row').css('display', 'none')
        }
        if($('#id_date_type_1:checked').length) {
            $('#id_event_date').val('');
            $('#start-end-row').css('display', 'flex')
            $('#event-row').css('display', 'none')
        }
        if($('#id_date_type_2:checked').length) {
            $('#id_start_date').val('');
            $('#id_end_date').val('');
            $('#start-end-row').css('display', 'none')
            $('#event-row').css('display', 'flex')
        }
    }
</script>
{% endblock %}