{% extends "base.html" %}

{% block head_title %}
	<title>Tasks</title>
{% endblock %}

{% block content %}
<div class="h-100">
    <h3>Tasks</h3>

    <div class="card-deck">
        {% for task in tasks %}
            {% include "components/task_component.html" with task=task %}
        {% empty %}
        <div>You have not any tasks</div>
        {% endfor %}
    </div>
</div>
{% endblock %}